segmentation/virtual
segmentation/data
segmentation/models
segmentation/.DS_Store
.idea/
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Morpheme-2022-shared-tasks.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Morpheme-2022-shared-tasks.iml
.idea/vcs.xml
segmentation/data.tar.gz
